body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  min-height: 100vh;
  position: relative;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#currentDay {
  min-width: 20rem;
  margin: 0;
}

.description{
  white-space: pre-wrap;
  padding: 0.5rem;
  overflow: auto;
  max-height: 79px;
}

.saveBtn i {
  font-size: 2rem;
  width: 100%;
  line-height: 32px;
}

.animation-container {
  overflow: hidden;
  height: 645px;
  width: 100%;
}

.time-block-container {
  position: relative;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  transition: transform 0.4s ease;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.animate-right {
  transform: translate(120vw);
}
.animate-left {
  
  transform: translate(-120vw);
}

button {
  background-color: #06AED5!important;
  border-color: #06AED5!important;
}

.hidden {
  display: none;
}

.spacer-footer {
  height: 40px;
  width: 40px;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 46, 46);
  padding: 15px 0;
}